@import "./index/hero.css";
@import "./index/about.css";
@import "./index/joinus.css";
@import "./index/project_card.css";
@import "./index/our_projects.css";
@import "./index/our_members.css";
@import "./layout/header.css";
@import "./events/events.css";
@import "./resources/resources.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind aspect-ratio;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Lato-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/PlayfairDisplay-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/PlayfairDisplay-Bold.ttf") format('truetype');
}

.aspect-ratio{
    aspect-ratio: auto 16/9;
}

  @layer utilities {
    .scroll-snap-none {
      scroll-snap-type: none;
    }
    .scroll-snap-x {
      scroll-snap-type: x mandatory;
    }
    .scroll-snap-x > div{
        scroll-snap-align: center;
    }
    .scroll-snap-y {
      scroll-snap-type: y;
    }
  }