@layer components {
    .our-members-section{
        @apply my-6 py-16 mx-0 sm:px-5 lg:px-20 items-center;
        margin-bottom:1rem;
    }
    .our-members-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 1rem;
        @apply mx-0 items-center;
        padding:1rem;
    }
    .our-members-list .contributor{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contributor h1{
        @apply text-2xl font-bold;
    }
    .our-members-title-container{
        line-height: 0.5;
    }
    .our-members-title{
        @apply text-3xl md:text-4xl font-body font-bold;
        display: inline-block;
        position: relative;  
    }
    .our-members-title:before{
        content: "";
        position: absolute;
        height: 1px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        top: 50%;
        width: 600px;
        right: 100%;
        margin-right: 15px;
    }
}