@layer components {
    .project-card-container{
        @apply h-full container bg-black text-white font-body p-4 flex flex-col gap-6 items-center;
        min-width: 320px;
    }

    @screen md{
        .project-card-container{
            min-width: 420px;
        }
    }

    .project-card-header{
        @apply font-body font-bold text-center text-3xl mx-2;
    }
    .project-card-description{
        @apply font-heading text-center mx-4 md:mx-20;
    }
    .project-card-lang-circle{
        @apply h-4 w-4 rounded-full border-gray-100 border-2 font-body font-bold;
    }
    .project-card-footer{
        @apply w-full items-end h-full flex gap-2;
    }
}