# Understand this file here: https://github.blog/2017-07-06-introducing-code-owners/#how-code-owners-work
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*    @EstebanBorai
